<div class="my-books-item">
  <div class="image">
    <a href="/details?id=<%= id %>">
      <img src="<%= cover %>" alt="<%= title %>" />
    </a>
  </div>
  <p class="book-description">
    <%= title %>
  </p>
  <span class="author"><%= authors %></span>
  <span class="status"><%= status %></span>
  <span class="date_added"><%= date %></span>
  <div class="icons">
    <a href="action?action=edit&id=<%= id %>"><img src="/images/edit.png" alt="edit"></a>
    <a href="action?action=delete&id=<%= id %>"><img src="/images/delete.png" alt="delete"></a>
  </div>
</div>
