<% currentbook = Book.find(@id) %>
<div class="book-detail">
  <div class="book-logo">
    <img src="<%= currentbook.image %>" />
    <a href="" class="book-read">Want to Read</a>
    <a href="" class="book-mark">Mark as read</a>
  </div>
  <div class="book-description">
    <h1><%= currentbook.title %></h1>
    <p class="book-author">by <%= currentbook.authors.join %></p>
    <p class="book-text"><%= currentbook.description %></p>
    <a href="https://play.google.com/store/books/details?id=<%= currentbook.id %> " class="book-buy">Buy for 63.36 PEN
      <img src="assets/buy.svg">
    </a>
  </div>
</div>
